################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/ui/gui_vs/WindowsFormsApp1/obj/Debug
/ui/gui_vs/WindowsFormsApp1/obj/Debug
/ui/gui_vs/.vs/WindowsFormsApp1/v15/.suo
